<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="ColoredConsole" name="console" />

    <target name="default" type="File" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}" filename="C:\Temp\mylogfile.log" />
    <target name="errorlog" type="File" layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}" filename="C:\Temp\!${shortdate}mylogfile.log" />

    <!--<target xsi:type="EventLog"
  name="EventLog"
  layout="${longdate:universalTime=true}|${level:uppercase=true}|${logger}|${message}"
  source="MyApp"
  log="Application" />-->


  </targets>

  <rules>
    <!--<logger name="*" levels="Debug,Warn,Info,Error" writeTo="console" />-->
    <logger name="*" levels="Debug,Warn,Info,Error" writeTo="default" />
    <logger name="*" levels="Error" writeTo="errorlog" />
  </rules>

</nlog>